.navbar-header h3
{
	margin-left: 25px;
	display: inline-block;
}
.navbar-header a
{
	color: white;
	font-size: 16px;
}
	#orders_link
	{
		margin-left: 50px;
	}
	#products_link
	{
		margin-left: 50px;
	}
	#logoff_link
	{
		margin-left: 900px;
	}
#products_search
{
	width: 300px;
	padding-left: 10px;
	margin-top: 25px;
	background: url(search.png) no-repeat;;
	padding:6px 15px 6px 30px;
	background: url('/search.png') no-repeat 8px 6px;
	border-radius: 15px;
	border:1px solid #2a2e31;
	padding-left: 40px;
}
#add_button
{
	margin-left: 685px;
}
#table_row
{
	border: 2px solid black;
	height: 400px;
	overflow: scroll;
}
.table_pages
{
	list-style: none;
	margin-top: 30px;
	margin-left: 150px;
}
	.table_pages li 
	{
		display: inline-block;
		border-left: 2px solid black;
		margin-left: 20px;
		padding-left: 20px;
		font-size: 18px;
		text-decoration: underline;	
		font-weight: bold;
	}
	.table_pages li:first-child
	{
		border: none;
	}
#orders_search
{
	width: 150px;
	padding-left: 10px;
	margin-top: 25px;
	background: url(search.png) no-repeat;;
	padding:6px 15px 6px 30px;
	background: url('/search.png') no-repeat 8px 6px;
	border-radius: 15px;
	border:1px solid #2a2e31;
	padding-left: 40px;
}
#order_status_dropdown
{
	margin-left: 820px;
}
.col-md-4
{
	border: 2px solid black;
	height: 400px;
	margin-top: 25px;
	padding-top: 15px;
}
.col-md-8
{
	margin-top: 25px;
}
#show_table
{
	width: 500px;
	margin-left: 15px;
}
#show_customer_billing
{
	list-style: none;
}
#show_customer_shipping
{
	list-style: none;
}
#show_status
{
	display: inline-block;
	margin-left: 125px;
	font-weight: bold;
	background-color: green;
	border: 2px solid black;
	padding: 8px;
	color: black;
	margin-top: 20px;
}
#show_price_total
{
	list-style: none;
	display: inline-block;
	margin-left: 100px;
	vertical-align: top;
	margin-top: 20px;
	border: 2px solid black;
	padding: 10px;
	padding-right: 10px;
}
#register_navbar
{
background-color: black;
}
.container
{
	text-align: left;
	background-color: grey;
	margin-top: 20px;
	width: 500px;
	padding-bottom: 15px;
	font-family: sans-serif;
	padding: 0px;
	outline: solid black;
}
.container h3
{
	display: inline-block;
	margin-left: 100px;
	margin:0px;
	margin-left: 100px;
}
#email
{
	margin-left: 69px;
	margin-top: 15px;
}
#password
{
	margin-left: 20px;
}
h1
{
	text-align: center;
	font-weight: bold;
	padding-bottom: 20px;
}
#login_button
{
	margin-left: 315px;
}
ul
{
	list-style-type: none;
	font-size: 18px;
	font-family: sans-serif;
	text-align: right;
}
#error_box
{
	background-color: red;
	color: white;
	text-align: center;
	font-size: 18px;
	width: 400px;
	margin-left: 310px;
	border-radius: 15px;
	margin-top: 25px;
}
ul li
{
	margin: 10px;
	margin-right: 20px;
}
ul li input
{
	font-size: 15px;
	margin-left:20px;
	margin-right: 100px;
}

#register_button
{
	margin-right: 125px;
}
#home_button
{
	margin-left: 600px;
	font-family: courier;
}
